@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #5E376D;
  --milk: #F3EAC0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
