@import url('https://fonts.googleapis.com/css2?family=Inder&family=Kalam:wght@300;400;700&family=Limelight&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #5E376D;
  --purple-tint: #C197D2;
  --milk: #F3EAC0;
}

html, body {
  max-width: 100%;
  overflow: hidden;
}
